body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    
    font: normal 15pt Arial;

}

header{
    color:aliceblue;
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.623);
}
footer{
    color: aliceblue;
    text-align: center;
}

input#botaoverificar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
input#botaoverificar:hover {
    background-color: #9332e2;
    box-shadow: 0px 15px 20px rgba(59, 17, 99, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
  
input#botaoverificar:active {
    transform: translateY(-1px);
}

